@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  margin-top: 2rem;

  .headerLeftContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    pointer-events: none;
  }

  width: 100vw;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.logo {
  position: relative;
  height: 160px;
  width: 160px;
}

.moreTHWToolsButton {
  display: none;
}

@include not-desktop {
  .shrinkHeader {
    margin: 0;
    height: $shrink-header-height;

    position: fixed;
    top: 0;

    background-color: white;

    flex-direction: column;
    gap: 4px;

    padding: 4px;

    border-bottom: 1px solid var(--accent);

    .headerContentContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      padding-right: 6px;

      @include not-mobile {
        .moreTHWToolsButton {
          width: 8rem;
          display: block;

          cursor: pointer;

          a {
            color: $primary;
            text-decoration: none;
          }
        }
      }

      .headerLeftContentContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        margin-left: 4px;

        pointer-events: all;
        cursor: pointer;

        .title {
          font-size: 3rem;
        }
        .logo {
          height: 3rem;
          width: 3rem;
        }
      }
    }

    border-bottom: 1px solid $accent;
  }
}
