@import "../../styles/variables.scss";

.selectMenuContainer {
  .selectItems {
    position: absolute;
    transform: translateY(4px);

    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 4px;

    border: 2px solid $secondary;
    border-radius: $border-radius;

    background: white;

    box-shadow: 0.5px $secondary;
  }

  .item {
    cursor: pointer;
    padding: 4px;

    &:hover {
      background-color: $accent;
      color: $primary;

      border: 2px solid transparent;
      border-radius: $border-radius;
      padding: 2px;
    }
  }
}
