@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding-top: $shrink-header-height;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  position: relative;
  margin: 0;
  padding-bottom: 6rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  text-align: center;
}

.resetTestButton {
  width: 6rem;
  margin-top: 2rem;
  background: $primary;
  color: $accent;
  border-color: $accent;
}

.checkBoxContainer {
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.stationViewsContainer {
  display: grid;
  gap: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
