@import "./variables.scss";

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  width: 100%;
  max-width: 350px;

  h2 {
    margin: 0;
  }
}

.addButton {
  width: auto;
  height: 2rem;
}
