.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.startTestButton{
  width: 100px;
}

.checkBoxContainer {
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.stationViewsContainer{
  display: grid;
  gap: 10px;
  width: 100%;
}

@media (min-width: 600px) {
  .stationViewsContainer { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .stationViewsContainer { grid-template-columns: repeat(3, 1fr); }
}