@import "./variables.scss";

.errorContainer {
  position: absolute;
  color: $warning;
  font-size: 0.75rem;
  margin-left: 0.1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2px;

  label {
    font-size: 1rem;
  }

  input {
    border-color: $secondary;
    &:focus,
    &:hover {
      border-color: $accent;
    }
  }
}
