@import "./variables.scss";

.errorContainer {
  position: absolute;
  color: $warning;
  font-size: 0.75rem;
  margin-left: 0.1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-size: 1rem;
  }

  input {
    height: 2.5rem;
    padding: 8px;
    margin-left: 3px;
    margin-right: 3px;

    border-radius: $border-radius;
    border-style: solid;
    border-width: 1px;
    border-color: $accent;

    border-color: $secondary;
    &:focus,
    &:hover {
      border-color: $accent;
    }
  }
}
